@use "utils/colors" as colors;
@use "utils/alignments" as alignments;
@use "utils/fonts" as fonts;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3{
    font-family: fonts.$Fraunces;
    color: colors.$VeryDarkDesaturatedBlue;
}

p{
    font-family: fonts.$Barlow;
}

.mobile{
    display: none;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 88%;
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    
    > #navBar{
        padding: 60px 40px;
        @include alignments.rowCenterAlign();
        justify-content: space-between;
        height: 38px;

        > img{
            width: 180px;
            height: 40px;
        }

        > .nav-bar-options{
            width: 35%;
            height: 100%;

            @include alignments.rowCenterAlign();
            justify-content: space-between;

            > a{
                text-decoration: none;
                font-size: 18px;
                font-family: fonts.$Barlow;
                font-weight: 0;
                color: colors.$White;
            }

            > a:nth-child(4){
                font-family: fonts.$Fraunces;
                background-color: colors.$White;
                color: colors.$VeryDarkDesaturatedBlue;
                padding: 20px 30px;
                border-radius: 30px;
                font-weight: 800;
                font-size: 16px;
                transition: 0.4s ease;

                &:hover{
                    cursor: pointer;
                    color: colors.$White;
                    background-color: rgba(255, 255, 255, 0.2)
                }
            }
        }

        > .hamburger{
            display: none;
        }
    }

    > #appTitle{
        width: 100%;
        height: 60%;
        margin: 45px 0px 144px 0px;
        @include alignments.columnCenterAlign();
        justify-content: space-around;

        > h1{
            color: colors.$White;
            font-size: 60px;
            letter-spacing: 10px;
        }
    }

    > #appFeatures{

        > div{
            width: 100%;

            @include alignments.rowCenterAlign();

            > div{
                padding: 100px;

                > h1{
                    font-size: 48px;
                    font-weight: 900;
                }

                > p{
                    margin: 40px 0px;
                    font-size: 18px;
                    color: colors.$DarkGrayishBlue;
                    line-height: 30px;
                    width: 450px;
                }

                > a{
                    text-decoration: none;
                    font-family: fonts.$Fraunces;
                    color: colors.$VeryDarkDesaturatedBlue;
                    font-weight: 900;
                    font-size: 18px;
                    
                    // &::after{
                        // background: colors.$Yellow;
                        // content: '';
                        // width: 135px;
                        // height: 8px;
                        // position: absolute;
                        // left: 100px;
                        // top: 1216px;
                        // opacity: 0.3;
                    // }

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        > .stand-out{

            > div{

                > a{

                    // &::after{
                    //     background: colors.$SoftRed;
                    //     content: '';
                    //     width: 135px;
                    //     height: 8px;
                    //     position: absolute;
                    //     left: 818px;
                    //     top: 1816px;
                    //     opacity: 0.3;
                    // }
                }
            }
        }

        > .graphic-photography{
            width: 100%;
            height: 600px;

            > .graphic{
                width: 50%;
                height: 100%;
                background-image: url(images/desktop/image-graphic-design.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                text-align: center;
                
                > h1{
                    width: 100%;
                    margin-top: 280px;
                    font-size: 28px;
                    font-weight: 900;
                    color: colors.$DarkDesaturatedCyan;
                }
                
                > p{
                    color: colors.$DarkDesaturatedCyan;
                    width: 100%;
                    padding: 0px 60px;
                    margin-top: 30px;
                }
            }

            > .photography{
                width: 50%;
                height: 100%;
                background-image: url(images/desktop/image-photography.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                text-align: center;

                > h1{
                    width: 100%;
                    margin-top: 280px;
                    font-size: 28px;
                    font-weight: 900;
                    color: colors.$DarkBlue;
                }
                
                > p{
                    color: colors.$DarkBlue;
                    width: 100%;
                    padding: 0px 60px;
                    margin-top: 30px;
                }
            }
        }
    }

    > #clientTestimonials{
        width: 100%;
        height: 700px;
        text-align: center;
        @include alignments.columnCenterAlign();

        > h1{
            letter-spacing: 6px;
            color: colors.$GrayishBlue;
        }

        > .testimonial-cards{
            height: 450px;
            @include alignments.rowCenterAlign();

            > .testimonial-card{
                width: 100%;
                height: 100%;
                @include alignments.columnCenterAlign();
                padding: 80px 60px;

                > img{
                    width: 70px;
                    border-radius: 50px;
                }

                > p{
                    width: 100%;
                    margin: 40px 0px;
                    line-height: 30px;
                    color: colors.$VeryDarkGrayishBlue;
                    font-weight: 700;
                    font-size: 18px;
                }

                > h3{
                    font-size: 20px;
                    font-weight: 900;
                }

                > h6{
                    margin-top: 14px;
                    font-family: fonts.$Barlow;
                    color: colors.$GrayishBlue;
                    font-size: 16px;
                    font-weight: 100;
                }
            }
        }
    }

    > #galleryPane{
        width: 100%;
        @include alignments.rowCenterAlign();

        > img{
            width: 25%;
        }
    }
}

#footer{
    width: 100%;
    height: 400px;
    background-color: colors.$FooterBackgroundCyan;
    text-align: center;
    @include alignments.columnCenterAlign();

    > img{
        margin-top: 60px;
        width: 200px;
    }

    > .nav-bar-options{
        margin-top: 40px;

        > a{
            text-decoration: none;
            font-size: 18px;
            font-family: fonts.$Barlow;
            font-weight: 0;
            color: colors.$DarkModerateCyan;
            padding: 10px 35px;
        }
    }

    > .social-media{
        margin-top: 50px;

        > img{
            margin-top: 20px;
            padding: 16px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 480px){

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
        width: 100%;
    }

    main{
        width: 100%;
        min-width: 375px;
        height: 65vh;
        max-height: 536.25px;
        background-image: url(images/mobile/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        // object-fit: contain;

        > #navBar{
            padding: 50px 25px;
            width: 100%;

            > .logo{
                width: 140px;
                height: 28px;
            }

            > .nav-bar-options{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px 0px;
                background-color: colors.$White;
                position: fixed;
                top: 120px;
                right: 23px;
                height: 300px;
                width: 90%;
                transition: 0.3s;

                display: none;

                > a{
                    color: colors.$DarkGrayishBlue;
                }

                > a:nth-child(4){
                    background-color: colors.$Yellow;

                    &:active{
                        color: black;
                    }
                }
            }

            &::after{
                display: none;
                position: absolute;
                content: "";
                width: 30px;
                height: 30px;
                background-color: colors.$White;
                background-image: -webkit-linear-gradient(-45deg, rgba(62,191,255,255) 50%, colors.$White 50%);
                top: 90px;
                right: 23px;
            }

            > .hamburger{
                display: block;
                width: 28px;
                height: 18px;
            }
        }

        > #appTitle{
            margin: 20px 0px 94px 0px;
            width: 100%;
            text-align: center;
            justify-content: center;

            > h1{
                font-size: 40px;
                margin-bottom: 20%
            }
        }

        > #appFeatures{
            text-align: center;

            > div{
                @include alignments.columnCenterAlign();

                > .app-feature-description{
                    padding: 70px 0px;
                }

                > div{
                    width: 100%;
                    padding: 0px;

                    > h1{
                        font-size: 34px;
                    }

                    > p{
                        width: 100%;
                        padding: 0px 14px;
                    }

                    > a{

                        &::after{
                            display: none;
                            // background: colors.$Yellow;
                            // content: '';
                            // width: 130px;
                            // height: 8px;
                            // position: relative;
                            // left: 148px;
                            // top: 1220px;
                            // opacity: 0.3;
                        }

                    }
                }
            }

            > .stand-out{

                > div{

                    > h1{
                        padding: 0px 40px;
                    }
    
                    > a{
    
                        &::after{
                            display: none;
                            // position: relative;
                            // background: colors.$SoftRed;
                            // content: '';
                            // width: 135px;
                            // height: 8px;
                            // position: absolute;
                            // left: 42%;
                            // top: 2018px;
                        }
                    }
                }
            }

            > .graphic-photography{
                width: 100%;
                height: 1200px;
                // height: 100%;
    
                > .graphic{
                    width: 100%;
                    // height: 50%;
                    background-image: url(images/mobile/image-graphic-design.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
                    
                    > h1{
                        width: 100%;
                        margin-top: 350px;
                        font-size: 28px;
                        font-weight: 900;
                        color: colors.$DarkDesaturatedCyan;
                    }
                    
                    > p{
                        color: colors.$DarkDesaturatedCyan;
                        width: 100%;
                        padding: 0px 10px;
                        margin-top: 30px;
                    }
                }
    
                > .photography{
                    width: 100%;
                    // height: 50%;
                    background-image: url(images/mobile/image-photography.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
    
                    > h1{
                        width: 100%;
                        margin-top: 380px;
                        font-size: 28px;
                        font-weight: 900;
                        color: colors.$DarkBlue;
                    }
                    
                    > p{
                        color: colors.$DarkBlue;
                        width: 100%;
                        padding: 0px 10px;
                        margin-top: 30px;
                    }
                }
            }
        }

        > #clientTestimonials{
            height: auto;
            margin: 80px 0px;

            > h1{
                font-size: 18px;
                letter-spacing: 4px;
            }

            > .testimonial-cards{
                width: 100%;
                height: auto;
                padding-top: 40px;

                @include alignments.columnCenterAlign();

                > .testimonial-card{

                    padding: 40px 10px;

                    > p{
                        width: 100%;
                        padding: 0px 20px;
                    }
                }
            }
        }

        > #galleryPane{
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            > img{
                width: 100%;
            }
        }

        > #footer{

            > .nav-bar-options{
                width: 100%;
                display: flex;
                justify-content: space-around;

                > a{
                    padding: 0px;
                    font-size: 20px;
                }
            }
        }
    }
}